body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

h1{
    color: white;
    font-size: 24px;
}

h5{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

p{
    color: hsl(0, 0%, 70%);
    font-size: 14px;
}

.card-container{
    background-color:hsl(0, 0%, 12%);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 30px;
}

.card-container h1, .card-container h5{
    text-align: center;
    margin: 5px 0;
}

.card{
    padding: 30px;
    border-radius: 15px;
    margin: 30px;
}

.buttons{
    color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}






button{
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}




@media screen and (max-width:375px){
    .card-container{
        margin: 30px;
        padding: 15px;
    }
}



